--extra-index-url https://download.pytorch.org/whl/cu126

torch
torchvision
torchaudio

# Hugging Face Libraries
transformers==5.16.1
huggingface_hub==1.29.0
datasets
accelerate
sentencepiece
tokenizers
safetensors

# Data Science Libraries
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy

# Deep Learning Utilities
tqdm
wandb
tensorboard

# NLP & LLM Tools
nltk
spacy
tiktoken
einops
bitsandbytes

# Jupyter Extensions
ipywidgets
jupyter-contrib-nbextensions

# Other Utilities
Pillow
requests
pyyaml
python-dotenv

opencv-python-headless 